<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="RAZ.ADF.RazStorageSqlADF.Console.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.WindowsAzure.Storage" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.3.0.0" newVersion="4.3.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <applicationSettings>
    <RAZ.ADF.RazStorageSqlADF.Console.Properties.Settings>
      <setting name="CustomerSqlConnectionString" serializeAs="String">
        <value>Data Source=tcp:razsql.database.windows.net,1433;Initial Catalog=razsql-StorageJsonDFA;User ID=razadmin;Password=Pass123!;Encrypt=True;TrustServerCertificate=False;Application Name="Azure Data Factory Linked Service"</value>
      </setting>
      <setting name="AdfStorageConnectionString" serializeAs="String">
        <value>DefaultEndpointsProtocol=https;AccountName=razstorageadfpoc;AccountKey=9jgk0bt32bHjCy5xdntIXBIqaBv7bLkZkbh2L/k76nb0Uaebg75/b7EBR8KnB2Q3PHM64hGs2yY8dnD+EaZx3A==</value>
      </setting>
      <setting name="Container_Archive" serializeAs="String">
        <value>archive</value>
      </setting>
      <setting name="Container_InputFiles" serializeAs="String">
        <value>inputfiles</value>
      </setting>
    </RAZ.ADF.RazStorageSqlADF.Console.Properties.Settings>
  </applicationSettings>
</configuration>