@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div>
    <h1 class="display-4">Welcome to RazType</h1>
    <p>This is a garage site for me to try out random things. This site is seldomly maintained. For most things, please check out my <a href="https://raffertyuy.com">blog</a> and my <a href="https://github.com/raffertyuy">repo</a>.</p>
    <br />
</div>

<div>
    <ol>
        <li>Custom Azure DevOps Dashboard Widgets (<a href="https://github.com/raffertyuy/Azure-DevOps-GitHub-Integration-Toolkit/tree/main/ADO-Dashboard-Widgets">repo</a>, <a href="https://marketplace.visualstudio.com/items?itemName=RazType.vsts-extensions-RazTypeExtensions">marketplace</a>)</li>
        <li>DevOps Maturity Assessment(<a href="">forked repo</a>, <a href="https://devopsmaturity.atos.net/">source</a>)</li>
    </ol>
</div>

<footer>
    <br />
    <br />
    <hr />
    This site is created using <a href="https://docs.microsoft.com/aspnet/core">ASP.Net Core</a> and is hosted on <a href="https://azure.microsoft.com">Microsoft Azure</a>.
</footer>