@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to RazType</h1>
    <p>This is a garage site for me to try out random things. For more content, please check out my <a href="https://raffertyuy.com">blog</a> and my <a href="https://github.com/raffertyuy">repo</a>.</p>
</div>

<div class="text-center">
    <p>This site is created using <a href="https://docs.microsoft.com/aspnet/core">ASP.Net Core</a> and is hosted on <a href="https://azure.microsoft.com">Microsoft Azure</a>.</p>
</div>